<table class="front" summary="For signed-in users">
  <tr>
    <td class="main">
      <h1 class="account">Create new account?</h1>
      <%= render 'shared/account_form' %>
    </td>
    <td class="sidebar round">
      <%= render 'shared/user_info' %>
    </td>
  </tr>
</table>

